<dx-lookup
    [dataSource]="dataSource"
    valueExpr="ID"
    displayExpr="Subject"
    searchMode="contains"
    [searchExpr]="['Assignee', 'Subject']"
    [minSearchLength]="2"
    (onValueChanged)="onValueChanged($event)"
    [grouped]="true"
    groupTemplate="listGroup"
    pageLoadMode="nextButton"
    nextButtonText="More"
    itemTemplate="listItem"
>
    <dxo-drop-down-options 
        closeOnOutsideClick="true"
        [showTitle]="false"
    >
    </dxo-drop-down-options>
    <div *dxTemplate="let data of 'listGroup'">
        {{ data.key + " - " + data.items.length }}
    </div>
    <div *dxTemplate="let itemData of 'listItem'">
        {{ itemData.disabled ? '\u274C ' + itemData.Subject : '\u2705 ' + itemData.Subject }}
    </div>
</dx-lookup>